.grid {
    /* x=54.8, y=417 */
    margin-top: 5vw;
    /* roughly gap from header */
    /* Grid Layout: 2 columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Gap calculation: 
     Left col x=54. Right col x=396.
     Card width 300.
     Gap = 396 - (54 + 300) = 42px.
     42 / 752 = 5.6vw
  */
    column-gap: 5.6vw;
    row-gap: 5.2vw;
    /* y=417 to y=629. 629 - (417+173) = 39px. ~5.2vw */
}