@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* light gray to see the card better */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
