@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#d6cdc1] m-0 p-0 text-[#96908c];
    /* Prevent pull-to-refresh on mobile if needed, though viewport-fit=cover covers some */
    overscroll-behavior-y: none;
  }
}
