@import "tailwindcss";

@theme {
  /* Add any custom theme variables here if needed */
}

body {
  background-color: #E3DCD5;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
}