.container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Positioned at bottom or flow? 
     In Figma y=1334. Total H=1626.
     It is quite down.
  */
    margin-bottom: 5vw;
}

.buttonWrapper {
    position: relative;
    width: 85.3vw;
    /* 642 / 752 */
    height: 23vw;
    /* 173 / 752 */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    /* roughly */
}

.icon {
    width: 8.9vw;
    /* 67px / 752 */
    height: auto;
}

.text {
    font-size: 6.6vw;
    /* 50px / 752 */
    color: #fff;
    /* Usually white on confirm buttons */
    font-weight: bold;
    letter-spacing: 0.5vw;
}